<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <a href="/" class="btn btn-info">Main page</a>
    <h1>Product Page</h1>
    <a href="/product/add" class="btn btn-success">Product</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Photo</th>
            <th>Name</th>
            <th>Category</th>
            <th>Measurement</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" product, i : ${list}">
            <td th:text="${i.index+1}"></td>
            <td th:src="${'/photo/'+product.getId()}" th:width="100" th:height="100"></td>
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getCategory().getName()}"></td>
            <td th:text="${product.getMeasurement().getName()}"></td>
            <td>
                <a class="btn btn-warning" th:href="${'/product/edit/'+product.getId()}">Edit</a>
                <a class="btn btn-danger" th:href="${'/product/delete/'+product.getId()}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>