<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <a href="/" class="btn btn-info">Main page</a>
    <h1>Input Page</h1>
    <a href="/input/add" class="btn btn-success">Input</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Warehouse</th>
            <th>Supplier</th>
            <th>Currency</th>
            <th>Facture Number</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" input, i : ${list}">
            <td th:text="${i.index+1}"></td>
            <td th:text="${input.getDate()}"></td>
            <td th:text="${input.getWarehouse().getName()}"></td>
            <td th:text="${input.getSupplier().getName()}"></td>
            <td th:text="${input.getCurrency().getName()}"></td>
            <td th:text="${input.getFactureNumber()}"></td>
            <td>
                <a class="btn btn-warning" th:href="${'/input/edit/'+input.getId()}">Edit</a>
                <a class="btn btn-danger" th:href="${'/input/delete/'+input.getId()}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>